services:

  redis:
    image: redis:7-alpine
  django:
    container_name: django
    build:
      context: .
      dockerfile: dcelery/Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    container_name: celery
    build:
      context: .
      dockerfile: dcelery/Dockerfile
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    depends_on:
      - redis
